<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BiblioCommons" type="BiblioCommons.Configuration, BiblioCommons"/>
  </configSections>

  <BiblioCommons ApiKey="TestApiKey"
                 BaseUrl="http://localhost:8080"
                 LibraryId="euclidlibrary"></BiblioCommons>
</configuration>