<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BiblioCommons" type="BiblioCommons.Configuration"/>
  </configSections>

  <BiblioCommons ApiKey="TestApiKey"
                 ApiVersion ="v1"
                 BaseUrl ="https://api.bibliocommons.com"
                 ApiQueriesPerSecondLimit ="2"
                 CacheSlidingExpiration ="60"
                 LibraryId ="euclidlibrary"
                 UserAgentPrefix ="bibliocommons-csharp">     
  </BiblioCommons>
</configuration>